# Ignore cache files
__pychache__/
*.pyc

# Ignore environment folders
.env
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log files
logs/
*.log

# Ignore compiled Python files
*.pyo
*.pyd

# Ignore other temporary files
*.tmp
*.bak
*.swp

# arquivo desnecessário no repositorio
bin/ffmpeg.exe
